{% load i18n %}

{# 
  Subject block for the confirmation email.
  This will be used as the email subject line.
#}
{% block subject %}
{% blocktrans %}Career IDream - Your account has been successfully created and activated!{% endblocktrans %}
{% endblock %}

{# 
  Text body block for plain-text email clients.
  Informs the user their account is ready and welcomes them to Career IDream.
#}
{% block text_body %}
{% trans "Congratulations! Your Career IDream account has been created and is ready to use." %}

{% trans "Thank you for joining Career IDream, your platform for achieving your dream job!" %}

{% blocktrans %}The Career IDream Team{% endblocktrans %}
{% endblock text_body %}

{# 
  HTML body block for rich email clients.
  Provides a styled confirmation message and a warm welcome.
#}
{% block html_body %}
<p>{% trans "Congratulations! Your Career IDream account has been created and is ready to use." %}</p>

<p>{% trans "Thank you for joining Career IDream, your platform for achieving your dream job!" %}</p>

<p>{% blocktrans %}The Career IDream Team{% endblocktrans %}</p>
{% endblock html_body %}